<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .block{
          width: 200px;
          height: 200px;
          background-color: #c0c0c0;
        }
        .red{
          background-color: red;
        }
        .blue{
          background-color: blue;
        }
    </style>
</head>
<body>
<div id="app">
    <h1>{{ title }}</h1>
    <h2>{{ sayHello() }}</h2>
<!--    <a :href="link">Google</a>-->
    <a :href="link">Google</a>
    <div v-html="completeElement"></div>
<!--    <input type="text" v-model="name">-->
    <input type="text" v-model.lazy="name">
    <p>{{ name }}</p>
    <input type="number" v-model.number="someNumber">
    <p>{{ someNumber }}</p>

<!--    <button v-on:click="counter++">Increase</button>-->
    <button v-on:click="increaseCounter(step, $event)">Increase</button>
    <input v-model="step">
    <p>{{ step }}</p>
    <p>{{ counter }}</p>
    <p>{{ counter > 10 ? 'Greater than 10': 'Less than 10'}}</p>

    <p @mousemove="getCoordinates($event)">
        Current position: {{x}} / {{y}}
        <span @mousemove.stop.prevent>Don't show me coordinates</span>
    </p>

    <div>
        <button @click="counter++">Increase</button>
        <button @click="counter--">Decrease</button>
        <button @click="secondCounter++">Increase second counter</button>
        <p>Counter: {{ counter }} | {{ secondCounter }}</p>
        <p>Result: {{ result() }} | {{ output }}</p>
    </div>

<!--    <div class="block" :style="{backgroundColor: 'green'}">-->
<!--    <div class="block" :class="{red: isRed, blue: !isRed}" @click="isRed=!isRed">-->
    <input type="text" v-model="width">
    <input type="text" v-model="color">
    <div class="block" :style="myStyle"></div>

    <h4 v-if="show">I'm visible</h4>
    <h4 v-else>now i'm visible</h4>
    <button @click="show=!show">Change</button>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            name: '',
            title: 'Hello world!',
            someNumber: 0,
            counter: 0,
            secondCounter: 0,
            step: 0,
            x: 0,
            y: 0,
            isRed: false,
            show: true,
            width: 100,
            height: 100,
            color: 'gray',
            link: 'https://google.com',
            completeElement: `<span>i'm new element <a href="https://google.com" id="link">google</a></span>`,
            products: [
            ]
        },
        methods: {
            sayHello() {
                this.title = 'Changed';
                return this.title;
            },
            increaseCounter(step, event) {
                console.log(event)
                this.counter += parseInt(step);
            },
            getCoordinates(event) {
                this.x = event.clientX;
                this.y = event.clientY;
            },
            result() {
                console.log('method')
                return this.counter > 5 ? 'Greater than 5': 'Less than 5';
            }
        },
        computed: {
            output() {
                console.log('computed')
                return this.counter > 5 ? 'Greater than 5': 'Less than 5';
            },
            myStyle() {
                return {
                    backgroundColor: this.color,
                    width: `${this.width}px`,
                    height: `${this.width}px`,
                }
            }

        }
    });
</script>
</body>
</html>